

@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#full-container{
    max-width: 800px; /* 중앙 콘텐츠 최대 너비 */
  margin: 20px auto; /*상하, 좌우 여백*/
  padding: 0 20px; /* 양쪽 추가 패딩 */
  gap: 20px;
  background: #E5D9F2;

}

#top{
    text-align: center;
    margin: 50px;
    color: #A594F9;
    font-size: 40px;
    font-weight: 550;

}
#record-total-container{
    width: 500px;
    background: #CDC1FF;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 20px;
    color:black;
}
#total-record{
    text-align: center;
    font-size: 25px;
    font-weight: 550;
}
#each-total-record{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#record-total-container #expense-total-record{
    margin-right: 20px;
    color: #da1414be;
}
#record-total-container #income-total-record{
    color: #0052e986;;
}


#full-record-list {
    width: 100%;                
    max-width: 1000px;
    margin: 0 auto;             
    background-color: #f9f9f9;  
    border-radius: 10px;      
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
          
}

#list-title {
    display: flex;              
    justify-content: space-around; 
    font-size: 20px;
    font-weight: bold;          
    background-color: #A594F9;  
    color: white;               
    padding: 10px;            
    text-align: center; 
          
}

#record-list {
    list-style: none;           
    width: 100%;
}

.record-list-item {
    display: flex;
    justify-content: space-around;
    padding: 10px;              
    border-bottom: 1px solid #ddd; 
}

#record-list li:nth-child(even) {
    background-color: #f3f3f3;  
}

#record-list li:last-child {
    border-bottom: none;        
}

#record-list li div {
    flex: 1;                    
    text-align: center;         
}

#add-container{
    margin-top: 20px;
    text-align: center;
}
#add-button{
    width: 180px;
    height: 50px;
}
#input-container{
    opacity: 0;
    margin-top:30px;
    border-radius: 30px;
    padding: 20px;
    background: #CDC1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#input-container.show{
    opacity: 1;;
}
#input-box{
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    
    
}
#input-box .calender-box{
    margin-bottom: 10px;
}
#input-box input{
    border: none;
    height: 20px;
}
.content-box{
    margin-top:10px;
    
}

button{
    background-color: #A594F9;
    color: white;
    border-radius: 30px;
    border: none;
}
#header-button button{
    font-size: 15px;
    width: 105px;
    border: none;
}
#header-button button.expense-active{
    background-color: #da1414be;
    color:white
}
#header-button button.income-active{
    background-color: #0052e986;
    color:white
}
#submitBtn{
    width: 100px;
    height: 35px;
    font-size: 15px;

}
.btn-active{
    background: white;
    color: #A594F9;
}
#closeBtn{
    margin-top: 10px;
    width: 100px;
    height:35px;
    font-size: 15px;
}
